// MongoDB connection string
MONGO_URI=

// Server configuration
PORT=  

// JWT secrets
JWT_SECRET=
JWT_REFRESH_SECRET=


// Google OAuth2 credentials
CLIENT_ID=
CLIENT_SECRET=-
REFRESH_TOKEN=
EMAIL_USER=

// Cloudinary credentials
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

// Redis configuration
REDIS_URL=

// Stripe configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

// Email configuration
EMAIL_USER=
EMAIL_PASS=

//OpenCage API GeoLoaction
OPENCAGE_API_KEY=